@font-face {
    font-family: FONTVHS;
    src: url(./VCR_OSD_MONO_1.001.ttf);
  }

html *
{
   font-family: FONTVHS !important;
  
}

.HeaderFotoPrincipal{
    min-width:300px;
    height:400px;
}

#LogoPrincipal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    
}

#logo-header{
    width:50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

nav{
    position:sticky;
    top:0;
}

.navbar-light{
    background: black;
    width: 100%;
}

.nav-item :hover {
    color: #ffc800 !important;
   
}

.nav-link{
    color: #cc2c2c !important;
}

.nav-item{
    position: relative;
    display: inline-block;
}

.nav-item:hover .dropdown-content {display: block;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #cc2c2c;
    padding: 10px;
    text-decoration: none;
    display: block;

  }

.cajas1{
    margin: 40px;
    background-color: rgba(0, 0, 26, 0.85);
    padding: 10px;
    color:#cc2c2c;

  }

.cajas2{
    margin: 40px;
    background-color: rgba(0, 0, 26, 0.85);
    padding: 10px;
    color:#cc2c2c;
    margin-left: 0px;

  }

.subcajas{
    margin: 10px;
    background-color: rgba(0, 0, 26, 0);
    padding: 10px;
    border-bottom: 3px solid #000000;
    margin-bottom:10px;
    color: rgb(168, 150, 128);
}

.fecha-publicacion{
    color:rgb(126, 110, 110) !important;
}

.fotos-de-anuncios{
    position:relative;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.fotos-de-anuncios img{
    height: 40%;
    width: 40%;
    border-radius:2%
}


.column1{
    float: left;
    width: 60%;
    padding-right: 0px;
}

.column2{
    float: right;
    width: 40%;
    padding:0px
}

.row{
    margin-right: 0px;
}


.row:after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-image: url("./imagenes/upside-down1.jpeg");
    margin-right: 0px;
}

.countdown{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #cc2c2c;
}

.countdown div{
    display: grid;
    place-items: center;
    padding: 5px;
}

#dias, #horas, #minutos, #segundos{
    display: grid;
    place-items: center;
    height:50px;
    width: 50px;
    font-size: 35px;
}

.fecha{
    display:block;
    padding: 10px;
    text-align:center;
    color:white;
    font-size: 18px;
}

.foto-colaborador img{
    height: 40%;
    width: 40%;
    border-radius:50%
}

.tabla, th, td{
    text-align: center;
    margin-top: 100px;
}

#saveForm{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#sobrenosotros{
    color: rgb(168, 150, 128);
}

#titulo-sobrenosotros{
    color: #cc2c2c
}

.multimedia{
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 370px;
}


iframe{
    width: 100%;
    height: 100%;
}

footer{
    background-color: rgba(47, 112, 149, 0.85);
    width: 100%;
    color: #cc2c2c;
    position: absolute;
}

footer img{
    text-align: center;
    width: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#icono-footer{
    text-align: center;
}

.columnfooter1{
    float: left;
    width: 40%;
    margin-left: 30px;
}

.columnfooter2{
    float: right;
    width: 50%;
    margin-right: 30px;
}

#mas, #mas2, #mas3, #mas4, #mas5, #mas6, #mas7, #mas8, #mas9, #mas10{display:none;}


.cajas{
    margin: 40px;
    background-color: rgba(0, 0, 26, 0.85);
    padding: 10px;
    color:#cc2c2c;
  }

.boton-ver-mas{
    text-align: center;
}

.boton-ver-mas:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(113, 101, 87);
}

.fotos-personajes{
    float: left;
    width: 25%;
}

.descripcion-personajes{
    float: right;
    width: 75%;
}

.row-personajes{
    margin-right: 0px;
}


.row-personajes :after{
    content: "";
    display: table;
    clear: both;
}

.actores-y-personajes-link{
    color: rgb(168, 150, 128);
    text-decoration: none;
    display: inline-block;
}

.actores-y-personajes-link:hover{
    color: rgb(113, 101, 87);
    text-decoration: underline;
}

#all-rights-reserved{
    margin: 30px;
    text-align: end;
    float: left;
}

.bi-twitter, .bi-instagram, .bi-youtube, .bi-envelope-heart-fill{
    color:#cc2c2c;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    margin: 5px 2px;
}

.bi-twitter:hover, .bi-instagram:hover, .bi-youtube:hover, .bi-envelope-heart-fill:hover{
    color:#7e1d1d;
}

#netflix-click{
    width: 200px;
    height: 100px;
}

* {
    box-sizing: border-box;
  }

input[type=texto], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }

.container {
    border-radius: 5px;
    background-color: rgba(0, 0, 26, 0.85);
    padding: 10px;
  }

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-right: 15px;
  }
  
  /* Hide the images by default */
  .mySlides, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7, .mySlides8, .mySlides9, .mySlides10{
    display:none ;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
 